<% layout("/layouts/boilerplate") %>
<body>
  <!-- <%= successMsg %> -->
       <h3>All Listings</h3>
    
       <!-- <form method="get" action="/listings/new">
        <button>Create New List</button>
       </form>

       -->

 <div class="container mt-4">
  <div class="row g-3 row-cols-md-3 row-cols-sm-1">
    <% for (let listing of allListings) { %>
     
      <div class="card"  >
         <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
  <img src="<%= listing.image %>" class="card-img-top" alt="..." style="height: 18rem">
  <div class="card-body">
    <p class="card-text"><b><%= listing.title %></b><br/>
    &#8377; <%= listing.price.toLocaleString("en-IN") %> /night</p>
  </div>
  </a>
</div>

    <% } %>

</div>
</div>


   <!-- <ul> -->

<!-- <% for (let listing of allListings) { %>
  <li>
    <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
  </li>
 
  
<% } %> -->

   <!-- </ul> -->
    
</body>
